:root {
    --sub-height: 50px;
    --content-height: 385px;

    --main-width: 400px;

    --background-color: #363636;
    --active-bg-color: #36809c;
    --hover-color: #6c6d6b;
    --border-color: rgba(255, 255, 255, 0.6);
    --text-color: #fff;
    --header-text-color: #b1d8e6;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    height: 100vh;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

.ul-flex-box {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.flex-box {
    display: flex;
    align-items: center;
}

.active {
    background-color: var(--active-bg-color);
    border: 2px var(--background-color) solid;
    box-shadow: 0 0 0 2px var(--active-bg-color);
}

.hover-active {
    box-shadow: 0 0 0 2px var(--active-bg-color);
}

.not-current-month {
    opacity: 0.7;
}